---
---

@import "{{ site.theme }}";

.content {
  padding-right: 2rem;
}

.mobile-logo {
  padding: .8em;
}

.nav {
  text-align: left;
}

.ncar {
  .page-header {
    a,
    a:hover {
      color: #fff;
    }

    background-color: #007fa3;
    background-image: none;
  }
}

.page-header {
  padding: 0;
}


.project-name {
  padding-top: 1rem;
}

.sidebar-breadcrumb {
  margin-bottom: 2rem;

  h5 {
    margin: 0 1rem .5rem;
  }
}